@tailwind base;
@tailwind components;
@tailwind utilities;

.placeholder-gray-400::placeholder {
  color: #a0aec0; /* Light gray */
}

.text-black {
  color: #000; /* Black text */
}

.map-container {
  height: 100%; /* Ensure full height */
  width: 100%;  /* Ensure full width */
  position: relative; /* Maintain layout context */
}


/* Hover effects for weather details card */
.transition-transform {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.hover:scale-105:hover {
  transform: scale(1.05);
}
.hover:shadow-lg:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
